services:
  app:
    build: .
    container_name: watchtower_bot

    volumes:
      - .:/app
    restart: always
    tty: true               
    ports:
      - "8000:8000"  
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Europe/Istanbul