services:
  app:
    build: .
    container_name: watchtower_bot
    cap_add:
      - NET_ADMIN
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Europe/Istanbul
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - .env